<div class="container">
    <div class="card main-container">
        <div class="card-body">
          <h5 class="card-title"> <img src="assets/admin.png" class="img-fluid img-admin"> Administracion de proveedores</h5>
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Razon social</th>
                <th scope="col">Direccion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><</a></li>
                <li class="page-item"><a class="page-link" href="#"><<</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">>></a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
</div>