.bg-body-dark{
    background-color: #171717 !important;
    color: #fff !important;
}

.navbar-brand{
    color: #fff !important;
}

.nav-item{
    color: #fff !important;
}

.nav-link{
    color: #fff !important;
}

.align-items-center{
    color: snow !important;
}

.link-dark{
    color: snow !important;
    text-decoration: none !important;
}

.icon{
    width: 20px;
}

.nav-item{
    margin-left: 20px;

}

.center-vertical{
    padding-top: 20px !important;
}

.badge{
    margin-top: 5px;
}