.main{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sides{
    display: flex;
}

.side-left{
    width: 10vw;
    height: 100vh;
    overflow: hidden;
}

.side-right{
    width: 90vw;
    height: 100vh;
}

.icon{
    width: 20px;
}

*{
    color: snow;
}

.container{
    margin-top: 50px;
}

table{
    background-color: #1e1e1e;
}

td{
    background-color: #1e1e1e;
}

tr{
    background-color: #1e1e1e;
}

tbody{
    background-color: #1e1e1e;
}